package-lock.json
node_modules/
ts-out/
client/js/
client/service-worker/js/
server/js/

test/js/
test/browser/js/
test/browser/mocha.css

cypress/videos/
cypress/support/
cypress/screenshots/
cypress/reports/

*.vim


.nyc_output

client/sw.js

desktop.ini
