:root {
  --brass-color: #F7C968;
}

body {
  margin: 0;
  overflow: hidden;
  position: relative;
  touch-action: none;
}

#info {
  font-family: sans-serif; 
  font-weight: 900;
  color: white;
  text-shadow: -8px 8px 0px rgba(0.2, 0.2, 0.2, 1.0);
  font-size: 48pt;
  position: absolute;
  left: 16px;
  top: 16px;
}

#score {  
  margin-bottom: 4px;
}

#time {
  margin-top: 4px;
  font-size: 24pt;
  text-shadow: -4px 4px 0px rgba(0.2, 0.2, 0.2, 1.0);
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#loading {
  color: #49b6ff;

  font-family: sans-serif;
  font-size: 96pt;
  text-shadow: 4px 4px 0 #FFFFFF, -4px 4px 0 #FFFFFF, -4px -4px 0 #FFFFFF, 4px -4px 0 #FFFFFF;
  z-index: 1000;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#touch-controls img, body, canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

#touch-controls {
  z-index: 999;
  margin: 0;
  width: 100%;
  height: 100%;
}

#touch-direction {
  position: absolute;
  left: 32px;
  bottom: 32px;
  width: 25%;
  max-width: 512px;
  height: auto;
}

#touch-bomb {
  position: absolute;
  right: 96px;
  bottom: 32px;
  width: 20%;
  max-width: 384px;
  height: auto;
}

#touch-detonate {
  position: absolute;
  right: 32px;
  bottom: calc(32px + 20vw - 16px);
  width: 10%;
  max-width: 192px;
  height: auto;
}

#final-score {
  border-radius: 12px;
  border: 5px solid white;
  color: white;
  font-family: sans-serif;
  box-shadow: 0px 0px 25px 10px rgba(0.0, 0.0, 0.0, 0.8);

  padding: 32px;
  background-color: #404040;

  font-size: 48pt;
}

#dist {
  font-size: 120pt;
  font-weight: 900;
}

#replay {
  padding: 16px;
  border: 3px solid white;
  background-color: green;
  text-align: center;
}

.hidden {
  display: none;
}

#score-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  background-image: url("../res/woodworld.png");
  overflow: hidden;
  box-shadow: 0px 0px 12px 2px #000000;
  font-weight: 700;
}


#score-counter {
  border: 12px solid var(--brass-color);
  border-radius: 4px 4px 0px 4px;
  font-size: 0;
  right: 0;
  display: inline-block;
  white-space: nowrap;
}

#score-display {
  margin: 16px;
  margin-bottom: 72px;
  position: relative;
  left: 0;
}

#background-bar {
  position: absolute;
  background-color: var(--brass-color);
  width: calc(100% + 32px);
  left: -16px;
  height: 32px;
  top: 50%;
  border-radius: 16px;
  transform: translate(0%, -50%);
  display: inline-block;
  z-index: -25;
}

#score-meters {
  margin: 0;
  text-align: right;
  background-color: var(--brass-color);
  position: absolute;
  right: 0;
  border: 4px solid var(--brass-color);
  font-size: 24px;
  font-weight: 700;
  border-radius: 0px 0px 4px 4px;
}

.score-button {
  padding: 9px;
  background-color: var(--brass-color);
  font-size: 24px;
  display: inline-block;
}

#enemy-info {
  margin-bottom: 24px;
}

.enemy-counter {
  display: inline-block;
  border: 4px solid var(--brass-color);
  font-size: 0;
}

.enemy-counter .counter {
  font-size: 38px;
}

.enemy img {
  width: 48px;
  height: 48px;
  box-shadow: inset 0px 0px 4px #000000;
  margin-right: 12px;
  border: 4px solid var(--brass-color);

  position: relative;
  top: 4px;
}

#score-counter .counter {
  font-size: 42pt;
}

/* counter code */

.counter {
  display: inline-block;
  border: 2px solid black;
  background-color: #404040;
  padding: 0px 4px;
  color: rgba(0, 0, 0, 0);
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8); 
  position: relative;
}

.counter-container {
  position: absolute;
  font-family: "Times New Roman", serif;
  color: white;
  /* padding: 0px 4px; */
}
